*
{
  margin: 0;
  padding: 0;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic);
body {
  background-color: #D3D3D3;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
div.wrapper{
  width: 960px;
  height: auto;;
  margin: 0 auto;
  background-color: white;
  padding:0 40px 0 40px;
}
img{
  padding:40px 0;
}
ul.up{
  font-size:0;
  line-height:0;

}
li.up{
  display:inline-block;
  background-color: #4f4e4e;
  font-size: 15px;
  font-family: OpenSans;
  line-height:normal;
  padding: 15px 40px 15px 40px;
}
a.up{
  text-decoration: none;
  color: white;
}
li.up:hover{
  background-color: #3f3f3f;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
div.sidebar{
  float: left;
  width: 300px;
  margin-top: 30px;
}
li.sidebar{
  list-style: none;
  background-color: white;
  font-size: 14px;
  border: 1px solid #c8c8c8;
  padding: 15px 40px 15px 40px;
}
a.sidebar{
  text-decoration: none;
  color: black;
}
li.sidebar:hover{
  padding-left: 60px;
  background-color: #f9f9f9;
}
div.content{
  float: right;
  width: 600px;
  margin-top: 30px;
}
img.velo{
  border: 1px solid #c8c8c8;
  padding-left: 49px;
  padding-right: 49px;
}
div.footer{
clear: both;
}
p.text{
  padding: 30px;
}
ul.foo{
  font-size:0;
  line-height:0;

}
li.foo{
  display:inline-block;
  background-color: #e1e1e1;
  font-size: 14px;
  line-height:normal;
  padding: 15px 40px 15px 40px;
}
a.foo{
  text-decoration: none;
  color: black;
}
a.foo:hover{
  text-decoration: underline;
}
li.copyright{
  display:inline-block;
  background-color: #e1e1e1;
  font-size: 14px;
  line-height:normal;
  padding: 15px 40px 15px 125px;
  margin-bottom: 50px;
}
